:root {
  font-size: 16px;
  --light-gray-o: rgba(175, 175, 175, .8);
  --blue-sapphire: #166a8f;
  --sea-green: #2facb2;
  --dirty-white: #eff2f3;
  --trans: all .4s ease;
}

::-webkit-input-placeholder {
  color: var(--dirty-white);
}

::-moz-placeholder {
  color: var(--dirty-white);
}

:-ms-input-placeholder {
  color: var(--dirty-white);
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  min-height: 100vh;
}

nav,
main,
aside,
header,
section,
footer {
  display: block;
  padding: 1rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oxygen', sans-serif;
  margin: .67rem 0;
  color: var(--dirty-white);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--sea-green);
}

b,
strong,
.bold {
  font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button,
.btn {
  font-family: 'Oxygen', sans-serif;
}

header,
main,
footer {
  position: relative;
}

main {
  height: 80vh;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

header,
footer {
  height: 14vh;
  padding: 1rem;
  text-align: center;
}

footer {
  height: 6vh;
}

header {
  background: var(--sea-green);
}

footer {
  background: var(--dirty-white);
}

#roomList {
  flex: 0 0 65%;
}

#bookingList {
  flex: 0 0 35%;
  background: var(--blue-sapphire);
  color: var(--dirty-white);
  position: relative;
}

#roomList,
#bookingList {
  padding: 1rem;
}

ul {
  list-style: none;
  padding-left: .625rem;
}

ul li {
  margin: .315rem 0;
}

li button {
  border: 1px solid var(--blue-sapphire);
  cursor: pointer;
  margin-left: .315rem;
}

#formLogin {
  width: 100%;
}

input {
  width: 100%;
  background: transparent;
  border: 1px solid var(--dirty-white);
  color: var(--dirty-white);
  margin: .315rem 0;
  padding: .315rem;
}

#formLogin button {
  cursor: pointer;
  border: 1px solid var(--dirty-white);
  width: 100%;
  background: transparent;
  padding: .315rem;
  color: var(--dirty-white);
  margin-top: .315rem;
}

.hidden {
  display: none;
}

.logout {
  position: relative;
  border: 1px solid var(--dirty-white);
  width: 100%;
  background: transparent;
  padding: .315rem;
  color: var(--dirty-white);
}